body
{
    background-color: white;
}

.menu button
{
    text-align: center;
    color: white;
    background-color:#33ccff;
    margin-top: 15px;
}

.search
{
    padding-right: 5%;
}

.search_leftarea form
{
    display: flex;
    
}

.search_leftarea button
{
    text-align: center;
    color: white;
    background-color:#33ccff;
}



.center
{
    border-left: 1px solid grey;
    border-right: 1px solid grey ;
    padding: 3%;
}

.menu
{
    display: list-item;
}

.row
{
    display: flex;
}


.tweet_edit
{
    height: 50px;
    width: auto;
}


.add_tweet
{
    border-radius: 3%;
    border: 1px solid rgb(216, 216, 216);
    padding: 1%;
    background-color: white;
    width: 100%;
}

    .add_tweet button
    {
        text-align: center;
        color: white;
        background-color:#33ccff;
    }
    
    .add_tweet img
    {
        width: 7%;
        border: 1px solid (216, 216, 216);
        border-radius: 50%;
    }

.header_ban
{
    height: auto;
    background-color:#33ccff;
}

.header_ban img
{
    text-align: left;
    width: 15%;
}

.formulaire
{
    display: grid;
    text-align: center;
    justify-content: center;
    border-radius: 5%;
}

    .formulaire form
    {
        border: 1px solid rgb(218, 218, 218);
        border-radius: 5%;
        padding: 20px;
    }

#pp
{
    width: 7%;
    border: 1px solid (216, 216, 216);
    border-radius: 50%;
}

.columns.right_menu
{
    text-align: right;
    align-self: center;
}


.left_menu > a > img{
    width: 50%;
    border-radius: 50%;
}


.menu
{
    text-align: center;
    margin-top: 20px;
}

a
{
    margin: 2%;
    text-decoration: none;
}

#button 
{
    text-align: center;
    color: white;
    background-color:#33ccff;
}

textarea 
{
    min-width: 100%;
    border: 1px solid white;
}



.afftweet
{
    border: solid 2px;
    /* width: 50%; */
    background-color: white;

}


.message img
{
    width: 50%;
    height: auto;
    text-align: center;
}






/* ---------------------MANEL------------------------ */


input
{
    display: block;
}

.afftweet
{
    border: solid 1px;
    padding: 1%;
}

.affprofil
{
    font-size: medium;
    border-bottom: solid 1px;
    text-align: left;
}

.horaire
{
    border-top: solid 1px;
    font-size: small;
    text-align: right;
}

.tweetimage
{
    text-align: center;
}